/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

/* Remove icon on my Stories page */

#rmv-icon {
  margin-left: 5px;
}

#rmv-icon:hover {
  color: crimson;
  cursor: pointer;
}

/* edit icon on my stories page */
.edit-icon {
  margin-left: 5px;
}

.edit-icon:hover {
  color: green;
  cursor: pointer;
}

/* Individual stories */

.fa-star:hover {
  cursor: pointer;
}
.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: bold;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin: 5px 1.5em;
  display: block;
  font-size: small;
  font-weight: bold;  
  color: green;
}

.story-user {
  font-size: small;
  display: block;
  margin-left: 1.5em;
  color: orange;
}